<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringSQL" value ="COLOQUE_AQUI_CONNECTION_STRING"/>
    <add key="ConnectionStringMongo" value ="mongodb://localhost:27017"/>
    <add key="MongoDataBaseName" value ="COLOQUE_AQUI_NOME_BANCO_MONGO"/>
    <add key="MongoCollectionName" value ="COLOQUE_AQUI_NOME_COLLECTION_MONGO"/>
  </appSettings>
</configuration>